



label{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:13px;
  padding-left:5px
}
h3{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-left: 20px;
}
.misc{
  padding-left: 20px;
}
div {
  padding-top: 5px;
  padding-left: 5px;
}
 output {
  padding-right: 2px;
  padding-left: 2px;
  border: groove 1px;
  font-size: 15px;
   }

   button {
    margin: 5px;
    padding: 3px;
    color:azure;
    background-color:blue;
    border: 2px solid #3a3efcc5;

   }
input{
  border: groove 1px;
  font-size: 15px;
  
  font-size:14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}





